*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Секретные ключи Firebase и Google
google-services.json
serviceAccountKey.json

# Ключи подписи приложения
*.jks
*.keystore

# Настройки разработчика
local.properties

# Папки сборки (мусор)
/build
/app/build